.loginContainer {
    background-color: white;
    color: black;
    width: 25%;
    height: 12rem;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.loginTitle {
    padding: .5rem;
}

input {
    width: 90%;
    margin: .5rem auto;
}

button {
    color: black;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    margin: .8rem;
}

button:hover {
    color: white;
    background-color: rgba(26, 85, 204, .8);
    padding: .1rem 1rem;
}